{% extends "layoutes/login.html.twig" %}

{% block content %}

  
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#" style="color:tomato">Verixon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register"><i class="fas fa-address-card"></i></a>
      </li> 
       <li class="nav-item">
        <a class="nav-link" href="/logoutUser"><i class="fas fa-sign-out-alt"></i></a>
      </li>   
       <li class="nav-item">
        <a class="nav-link" href="/loginUser"><i style="font-size:20px" class="fas fa-sign-in-alt"></i></a>
      </li>
    </ul>
  </div>  
</nav>

<br>

 <div class="container">
 <div class="row">

<div class="col-md-6">
 <h2 class="mt-4  verixon-gradent-text">Uploading images to cloudinary</h2>
  
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

     
    <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

        <div class="alert alert-success alert-dismissable fade show fade out">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Message Sent!</strong>  {{ error }} {{ connection_error }}
        </div>

 </div>

 <div class="col-md-6 mb-4">
  
<h1 class="mt-4">Upload an image</h1>
   <form class="form-control" action="/upload" method="POST" enctype="multipart/form-data">
     <input type="file" name="file" id="fileToUpload">
     <input type="submit" value="Upload Image" name="submit">
  </form>
 </div>

</div>

{% endblock %}       
