{% extends "layoutes/login.html.twig" %}

{% block content %}

<!-- <div class="container">
 <header class="header clearfix mt-4">
    <nav class="navbar navbar-expand-lg navbar-light" style="color:ghostwhite;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav float-right">
         <h3 class="text-muted pr-4">PHP GURU</h3>
        <li class="nav-item">
          <a style="color:rgba(203, 233, 300, 1)" class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a style="color:rgba(203, 233, 300, 1)" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">VerixonForms</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/registerUser">Sign Up</a>
            <a class="dropdown-item" href="/loginUser">Sign In</a>
            <a class="dropdown-item" href="/sendEmail">Send Email</a>
          </div>
        </li>
      </ul>
    </div>
    </nav>
  </header>

<br>

 <div class="container d-flex justify-content-center">
 
 <div class="col-md-6 mb-4">
 <form style="background-color:inherit; color: rgb(179, 179, 185); border:solid 1px gray" class="form-control mb-4 mt-4" method="POST" action="/loginUser">
   <h2 style="text-align:center" class="mt-4">login</h2> 
   <hr style="background-color:gray">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" name="email" required style="color:black" >
  </div>

  <p style="color:tomato"> {{ alert2 }} </p>
  <p style="color:tomato"> {{ alert3 }} </p>

  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" name="password" required style="color:black">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-block btn-success" name="submit">Submit</button>
</form>
</div>
</div>
 -->
<div class="container">
 <form>
  <fieldset>
    <legend>Legend</legend>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input style="color:beige;" type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
      <input style="color: beige;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
      <input style="color:beige;" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    
    <!-- <div class="form-group">
      <label for="exampleTextarea" class="form-label mt-4">Example textarea</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div> -->
    <!-- <div class="form-group">
      <label for="formFile" class="form-label mt-4">Default file input example</label>
      <input class="form-control" type="file" id="formFile">
    </div> -->
   <fieldset class="form-group"> 
      <!-- <legend class="mt-4">Checkboxes</legend>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
        </label>
      </div> -->
       <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
        <label class="form-check-label" for="flexCheckChecked">
          Checked checkbox
        </label>
      </div>
    </fieldset>
  </fieldset>
    <div class="form-group">
      <button class="btn btn-block mt-4" type="button">Submit</button>
    </div>
</form>
</div> 
 {% endblock %}  