{% extends "layoutes/welcome.html.twig" %}

{% block content %}

  <div class="container" >
      <h3 class="display-3 verixon-gradent-text">VERIXON</h3>
      <h6 class="lead" style="color: rgb(192, 176, 250);">Verixon is an open source php framework for developers: written and managed by digisoft.
      <br><hr style="background-color: darkslateblue;"><span style="color: rgb(105, 99, 146);">For creating fresh entity entries in database run the bellow code</span></h6>
      <p style="color: darkgrey;">vendor/bin/doctrine orm:schema-tool:create</p>
      <p  class="lead mt-4"><a class="btn btn-outline-primary" href="https://digisoft-blend.github.io/verixon/" role="button" style="border-radius:30px;">Getting started</a></p>
  
 
     <div class="row">
      <div class="col-md-6 d-flex justify-content-center">

        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header"><a class="dropdown-item" href="/registerUser">Sign Up</a></div>
          <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

       </div>
      
      
    
      <div class="col-md-6 d-flex justify-content-center">

        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header"><a class="dropdown-item" href="/loginUser">Sign in</a></div>
          <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

       </div>

    </div>     
  </div>
{% endblock %}   
