{% extends "layoutes/welcome.html.twig" %}

{% block content %}

<div class="container">
  <!-- <header class="header clearfix">
    <nav class="navbar navbar-expand-lg navbar-light" style="color:ghostwhite;">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav float-right">
         <h3 class="text-muted pr-4">PHP GURU</h3>
        <li class="nav-item dropdown">
          <a style="color:rgba(203, 233, 300, 1)" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">VerixonForms</a>
          <div class="dropdown-menu" style="background-color: rgb(191, 190, 199);">
            <a class="dropdown-item" href="/registerUser">Sign Up</a>
            <a class="dropdown-item" href="/loginUser">Sign In</a>
            <a class="dropdown-item" href="/sendEmail">Send Email</a>
          </div>
        </li>
        <li class="nav-item">
          <a style="color:rgba(203, 233, 300, 1)" class="nav-link" href="/encrypt">Encryption</a>
        </li>
      </ul>
    </div>
    </nav>
  </header> -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="/registerUser">Sign up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/sendEmail">Send mail</a>
    </li> -->
    <!-- <a class="nav-link active" href="/loginUser">Sign in</a>
      <a class="nav-link active" href="/sendEmail">Send mail</a>
      <a class="nav-link active" href="/encrypt">Encryption</a> -->
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu" style="">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li> -->
  <!-- </ul> -->
  <!-- background-color:rgba(18, 10, 39, 0.356) -->
    <div class="jumbotron" style="background-color:inherit; color: ghostwhite">
      <h3 class="display-3 verixon-gradent-text">VERIXON</h3>
      <h6 class="lead" style="color: rgb(192, 176, 250);">Verixon is an open source php framework for developers: written and managed by digisoft.
      <br><hr style="background-color: darkslateblue;"><span style="color: rgb(105, 99, 146);">For creating fresh entity entries in database run the bellow code</span></h6>
      <p style="color: darkgrey;">vendor/bin/doctrine orm:schema-tool:create</p>
      <p  class="lead mt-4"><a class="btn btn-outline-primary" href="https://digisoft-blend.github.io/verixon/" role="button" style="border-radius:30px;">Getting started</a></p>
    </div>

</div>   
    
{% endblock %}   
