{% extends "layoutes/welcome.html.twig" %}

{% block content %}

<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#" style="color:tomato">Verixon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="color:white">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav d-flex justify-content-right"> 
      <li class="nav-item" style="padding-right:50px;">
        <a class="nav-link" href="#" style="color:white"><i style="font-size:20px" class="fas fa-align-justify"></i> About</a>
      </li>
       <li class="nav-item" style="padding-right:50px">
        <a class="nav-link" href="/gettingStarted" style="color:white"><i style="font-size:20px" class="fas fa-books"></i> Docs</a>
      </li>
      <li class="nav-item" style="padding-right:50px">
        <a class="nav-link" href="/register" style="color:white"><i style="font-size:20px" class="fas fa-address-card"></i> Register</a>
      </li>   
       <li class="nav-item" style="padding-right:50px">
        <a class="nav-link" href="/loginUser" style="color:white"><i style="font-size:20px" class="fas fa-sign-in-alt"></i> Login</a>
      </li> 
      <li class="nav-item" style="padding-right:50px">
        <a class="nav-link" href="/send-a-mail" style="color:white"><span style="font-size:20px;" class="fas fa-envelope"></span> Email</a>
      </li> 
    </ul>
  </div>  
</nav>


     <div class="col-md-12">
	   
        <div class="container">
          <h1 class="display-3 verixon-gradent-text" style="text-align:center; padding-top:80px; font-size:20vw; display:block; cursor:pointer">VERIXON</h1>
        </div>
      </div>
  
{% endblock %}   
