{% extends "layoutes/login.html.twig" %}

{% block content %}
<div class="container">
<header class="header clearfix mt-4">
    <nav class="navbar navbar-expand-lg navbar-light" style="color:ghostwhite;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav float-right">
         <h3 class="text-muted pr-4">PHP GURU</h3>
        <li class="nav-item">
          <a style="color:rgba(203, 233, 300, 1)" class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a style="color:rgba(203, 233, 300, 1)" class="nav-link" href="/logoutUser">logout</a>
        </li>
      </ul>
    </div>
    </nav>
  </header>

    
          <p class="display-3" style="text-align:center; padding-top:120px; font-size:30px; color:white"> You Are Logged In </p>
          <p class="display-3" style="text-align:center; font-size:30px; color:white ">{{ email }}</p>
          <p class="display-3 mt-4" style="text-align:center; font-size:20px; color:gray">Try Logging Out To See Verixons Powerful Auth Functionality</p>

 </div>      
   
{% endblock %}   
