{% extends "layoutes/welcome.html.twig" %}

{% block content %}

    
           
           <div class="container d-flex justify-content-center">
            <div class="col-md-7">
              <h5 class="display-3" style="text-align:center; padding-top:200px; font-size:20px; color:whitesmoke"> {{ connectionError  }}  {{ connectionErrorMessage }} </h5>
           </div>
           </div>

            
             
          
{% endblock %}   
