{% extends "layoutes/login.html.twig" %}

{% block content %}
 
 <div class="container">
 <header class="header clearfix mt-4">
    <nav class="navbar navbar-expand-lg navbar-light" style="color:ghostwhite;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav float-right">
         <h3 class="text-muted pr-4">PHP GURU</h3>
        <li class="nav-item">
          <a style="color:rgba(203, 233, 300, 1)" class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a style="color:rgba(203, 233, 300, 1)" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">VerixonForms</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/registerUser">Sign Up</a>
            <a class="dropdown-item" href="/loginUser">Sign In</a>
            <a class="dropdown-item" href="/sendEmail">Send Email</a>
          </div>
        </li>
      </ul>
    </div>
    </nav>
  </header>

<hr>

<div class="container d-flex justify-content-center">
 <div class="col-md-6 mb-4">
 <form style="background-color:inherit; color: rgb(179, 179, 185); border:solid 1px gray" class="form-control mb-4" method="POST" action="/registerUser" enctype="multipart/form-data">
 <h4 class="mt-4 mb-4" style="text-align:center">Register to create your verixon account</h4>
 <hr style="background-color:gray"> 
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" name="email" required style="color:black">
  </div>
  
  <p style="color:green" >{{ alert0 }}</p>
  <p style="color:tomato" >{{ alert1 }}</p>
  <p style="color:tomato">{{ connectionError }} </p>

  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" name="password" required style="color:black">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-block btn-success" name="submit">Submit</button>
</form>
</div>
</div>
</div>
 
{% endblock %}  